<ul><h4>{{group}}</h4>
{{#each layers as |layer|}}
  <li>
    {{#if layer.exclusive}}
    <label>{{radio-button groupValue=group value="item.title" changed="layer.visible"}} {{layer.title}}</label>
    {{else}}
    {{input type="checkbox" checked=layer.visible}} {{layer.title}}
    <!--
    <button class="btn btn-default btn-xs" {{action "removeSelected" layer}}>
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    -->
    {{/if}}
  </li>
{{/each}}
</ul>
