{{#if layer.isGroup}}
  {{input id=id type="checkbox" checked=layer.visible}}<label for="{{id}}">{{layer.title}}</label>
  {{ol-layer-tree-group layers=layer.layers}}
{{else}}
  {{#if layer.exclusive}}
    {{ol-radio id=id name=layer.exclusive value=layer.id checked=layer.visible}}<label for="{{id}}">{{layer.title}}</label>
  {{else}}
    {{input id=id type="checkbox" checked=layer.visible}}<label for="{{id}}">{{layer.title}}</label>
  {{/if}}
{{/if}}
