{{#if layer.layers}}
  <h4>{{layer.title}}</h4>
  <ul>
    {{#each layer.layers as |layer|}}
      {{ol-layer-item layer=layer}}
    {{/each}}
  </ul>
{{else}}
  {{#if layer.exclusive}}
  <label>{{radio-button groupValue=group value="layer.title" changed="layer.visible"}} {{layer.title}}</label>
  {{else}}
  {{input type="checkbox" checked=layer.visible}} {{layer.title}}
  <!--
  <button class="btn btn-default btn-xs" {{action "removeSelected" layer}}>
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  -->
  {{/if}}
{{/if}}
